log_level: "debug"
web:
  port: 8080
  host_ip: "127.0.0.1"
  keep_alive_interval: 10000

# Directory where schedules are stored
schedules_folder: ./schedules

# In seconds
poll_interval: 10000

# The i2c address for the MCP960X
thermocouple_address: 0x60


gpio:
  # The gpio pin to send the on/off signal. Note, this is the gpio index and
  #   not the physical gpio pin. That is, GPIO #4 -> Physical pin #7.
  heater: 12

kiln:
  # The maximum difference between recorded temperature and set point
  max_difference: 25 # in celsius
  max_temp: 2150 # in celsius
  proportional: 25.0
  integral: 1088.0
  derivative: 217.0
  fuzzy_step_size: 10.0
